<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:ecency.com</string>
		<string>applinks:ecency.page.link</string>
		<string>applinks:alpha.ecency.com</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.ecency.eshare</string>
		<string>group.com.ecency.notifi</string>
	</array>
</dict>
</plist>
