<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211285790917-rtsrd251botepo2b9q0vjsd5bsp200o0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211285790917-rtsrd251botepo2b9q0vjsd5bsp200o0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>211285790917-nc7qrrdtmev9shdcc5hip6p3rfkbpupj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAWCJZkg2v3H9BBCgZREZG-c4MWDJm-MV8</string>
	<key>GCM_SENDER_ID</key>
	<string>211285790917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.esteem.mobile.ios</string>
	<key>PROJECT_ID</key>
	<string>esteem-ded08</string>
	<key>STORAGE_BUCKET</key>
	<string>esteem-ded08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211285790917:ios:9e05a5a121d6eba53760ac</string>
	<key>DATABASE_URL</key>
	<string>https://esteem-ded08.firebaseio.com</string>
</dict>
</plist>