name: App Builds
on:
  push:
    branches: ["development", "nt/gh-actions"]
jobs:
  ios-build:
    name: iOS Build
    runs-on: macos-latest
    steps:
      - name: Show host machine information
        run: uname -a
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.9.1
      - name: Checkout repo from dev branch
        uses: actions/checkout@v3
        with:
          ref: nt/gh-actions
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.0.0"
      - name: Setup Cocoapods
        uses: maxim-lobanov/setup-cocoapods@v1
        with:
          version: 1.15.2
      - name: Create Google Services PLIST File
        env:
          GOOGLE_JSON: ${{ secrets.GOOGLE_PLIST }}
        run: echo $GOOGLE_PLIST | base64 --decode > ./ios/GoogleService-Info.plist
      - name: Install the Apple certificate and provisioning profile
        env:
          BUILD_CERTIFICATE_BASE64: ${{ secrets.CERTIFICATES_P12 }}
          P12_PASSWORD: ${{ secrets.CERTIFICATE_PASSWORD }}
          BUILD_PROVISION_PROFILE_BASE64: ${{ secrets.PROVISIONING_PROFILE }}
          EXTEN_PROVISION_PROFILE_BASE64: ${{ secrets.EXTEN_PROVISIONING_PROFILE }}
          NOTIFI_PROVISION_PROFILE_BASE64: ${{ secrets.NOTIFI_PROVISIONING_PROFILE }}
          KEYCHAIN_PASSWORD: ${{ secrets.APPLE_APP_PASS }}
        run: |
         # create variables
          CERTIFICATE_PATH=$RUNNER_TEMP/build_certificate.p12
          PP_PATH=$RUNNER_TEMP/build_pp.mobileprovision
          EX_PATH=$RUNNER_TEMP/build_ex.mobileprovision
          NOT_PATH=$RUNNER_TEMP/build_not.mobileprovision
          KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db

          # import certificate and provisioning profile from secrets
          echo -n "$BUILD_CERTIFICATE_BASE64" | base64 --decode -o $CERTIFICATE_PATH
          echo -n "$BUILD_PROVISION_PROFILE_BASE64" | base64 --decode -o $PP_PATH
          echo -n "$EXTEN_PROVISION_PROFILE_BASE64" | base64 --decode -o $EX_PATH
          echo -n "$NOTIFI_PROVISION_PROFILE_BASE64" | base64 --decode -o $NOT_PATH

          # create temporary keychain
          security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
          security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH

          # import certificate to keychain
          security import $CERTIFICATE_PATH -P "$P12_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
          security set-key-partition-list -S apple-tool:,apple: -k "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
          security list-keychain -d user -s $KEYCHAIN_PATH

          # apply provisioning profile
          mkdir -p ~/Library/MobileDevice/Provisioning\ Profiles
          cp $PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles
          cp $EX_PATH ~/Library/MobileDevice/Provisioning\ Profiles
          cp $NOT_PATH ~/Library/MobileDevice/Provisioning\ Profiles
      - name: Install npm dependency
        run: yarn install
      - name: Install Cocoapod dependencies
        run: |
          cd ios
          pod install
      - name: Build iOS JS Bundle
        run: |
          yarn run bundle:ios
      - name: Build archive
        run: |
          cd ios
          xcodebuild -workspace Ecency.xcworkspace \
          -scheme "Ecency" \
          -sdk iphoneos \
          -configuration Release \
          -destination generic/platform=iOS \
          -archivePath $RUNNER_TEMP/ecency.xcarchive \
          archive          

      - name: Export IPA
        env:
          EXPORT_OPTIONS_PLIST: ${{ secrets.EXPORT_OPTIONS_PLIST }}
        run: |
          EXPORT_OPTS_PATH=$RUNNER_TEMP/ExportOptions.plist
          echo -n "$EXPORT_OPTIONS_PLIST" | base64 --decode -o $EXPORT_OPTS_PATH
          xcodebuild -exportArchive \
          -archivePath $RUNNER_TEMP/ecency.xcarchive \
          -exportOptionsPlist $EXPORT_OPTS_PATH \
          -exportPath $RUNNER_TEMP/build                    

      - name: Upload App
        uses: actions/upload-artifact@v4
        with:
          name: Ecency-iOS
          path: ${{ runner.temp }}/build/Ecency.ipa
          retention-days: 90

  ios-deploy:
    name: Deploy iOS Build
    needs: ios-build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - name: Get iOS Build from artifacts
        uses: actions/download-artifact@v4
      - name: Upload to AppStoreConnect
        env:
          APPLE_ID: ${{ secrets.APPLE_ID }}
          APPLE_APP_PASS: ${{ secrets.APPLE_APP_PASS }}
        run: xcrun altool --upload-app -f "Ecency-iOS/Ecency.ipa" -t ios -u "$APPLE_ID" -p "$APPLE_APP_PASS"


  android-build:
    name: Android Build
    runs-on: macos-latest
    steps:
      - name: Show host machine information
        run: uname -a
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.9.1
      - name: Checkout repo from dev branch
        uses: actions/checkout@v3
        with:
          ref: nt/gh-actions
      - name: Create .env file
        run: |
          echo "ACTIVITY_WEBSOCKET_URL=${{ secrets.ACTIVITY_WEBSOCKET_URL }}" >> .env
          echo "BUGSNAG_API_KEY=${{ secrets.BUGSNAG_API_KEY }}" >> .env
          echo "DEFAULT_PIN=${{ secrets.DEFAULT_PIN }}" >> .env
          echo "ECENCY_BACKEND_API=${{ secrets.ECENCY_BACKEND_API }}" >> .env
          echo "NEW_IMAGE_API=${{ secrets.NEW_IMAGE_API }}" >> .env
          echo "PIN_KEY=${{ secrets.PIN_KEY }}" >> .env
          echo "SERVER_LIST_API=${{ secrets.SERVER_LIST_API }}" >> .env
          echo "USER_AGENT=${{ secrets.USER_AGENT }}" >> .env
          echo "PLAUSIBLE_API_KEY=${{ secrets.PLAUSIBLE_API_KEY }}" >> .env
      - name: Install npm dependency
        run: yarn install
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3
        with:
          cmdline-tools-version: 11479570
      - uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Create Google Services JSON File
        env:
          GOOGLE_JSON: ${{ secrets.GOOGLE_JSON }}
        run: echo $GOOGLE_JSON | base64 --decode > ./android/app/google-services.json
      - name: Upload-keystore generator
        run: |
          echo "${{secrets.UPLOAD_KEYSTORE}}" > upload.keystore.asc
          base64 -d --input upload.keystore.asc --output android/app/key.jks
      - name: Key.Properties
        run: |
          echo "keyPassword=${{ secrets.UPLOAD_KEYSTORE_PASSPHRASE }}" >> ./android/key.properties
          echo "storePassword=${{ secrets.UPLOAD_KEYSTORE_PASSPHRASE }}" >> ./android/key.properties
          echo "keyAlias=${{ secrets.ALIAS }}" >> ./android/key.properties
      - name: Bundle Android
        run: yarn run bundle:android
      - name: Execute Gradle APK build
        run: |
          cd android
          ./gradlew assembleRelease
      - name: Cache generated APK
        uses: actions/cache@v3
        with:
          path: app/build/outputs/apk/
          key: apk-${{ runner.os }}-${{ github.sha }}
          restore-keys: |
            apk-${{ runner.os }}-
      - name: Upload APK application
        uses: actions/upload-artifact@v4
        with:
          name: Ecency-APK
          path: ./android/app/build/outputs/apk/release/app-release.apk
          retention-days: 90
      - name: Execute Gradle Bundle build
        run: |
          cd android
          ./gradlew bundleRelease
      # npx react-native build-android --mode=release
      - name: Upload App bundle to Releases
        uses: actions/upload-artifact@v4
        with:
          name: Ecency-Bundle
          path: ./android/app/build/outputs/bundle/release/app-release.aab
  android-deploy:
    name: Deploy Android Build
    needs: android-build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - name: Get Android Build from artifacts
        uses: actions/download-artifact@v4
      - name: Deploy to Play Store (BETA)
        id: deploy
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
          packageName: app.esteem.mobile.android
          releaseFiles: Ecency-Bundle/app-release.aab
          track: alpha
          status: completed
